@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form action="/" method="post">
    <input type="date"/>
    <input type="text" name="cognome" placeholder="Ammontare" />

    <br />

    <label>Metodo:</label><br>
    <input type="radio" name="Stipendio" value="stipendio"> Stipendio<br>
    <input type="radio" name="Acconto" value="acconto"> Acconto<br>

    <input type="submit" value="Invia" />
</form>